@font-face {
  font-family: 'Satoshi';
  src: url('../shared/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../shared/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../shared/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../shared/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}