.tag {
  border-radius: 32px;
  border: 2px solid #6060FE;
  background: rgba(96, 96, 254, 0.15);
  padding: 10.5px 23.25px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  color: #6060FE;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}