.tag {
  --offset: 3px;
  background: #e8e4fc;
  border-radius: 50px;
  position: relative;
  height: 48px;
  width: 226px;
  max-width: 100%;
  overflow: hidden;
}

.tag::before {
  content: '';
  background: conic-gradient(transparent 270deg, #6060FE, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

.tag::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.children{
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  color: #6060FE;
  font-size: 17px;
  padding: 10.5px 23.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  inset: 0;
  z-index: 10;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}