.ellipseOne {
  position: absolute;
  top: 45%;
  left: 48%;
}

.ellipseTwo {
  position: absolute;
  top: 43.8%;
  left: 47.5%;
}

.ellipseThree {
  position: absolute;
  top: 42%;
  left: 47.1%;
}

.ellipseFour {
  position: absolute;
  top: 41%;
  left: 46.5%;
}

@media (max-width: 768px) {
  .ellipseOne {
    left: 48%;

    svg {
      width: 37px;
      height: 37px;
    }
  }

  .ellipseTwo {
    left: 47.6%;
    top: 43.8%;

    svg {
      width: 44px;
      height: 44px;
    }
  }

  .ellipseThree {
    left: 46.8%;

    svg {
      width: 55px;
      height: 55px;
    }
  }

  .ellipseFour {
    left: 46.2%;

    svg {
      width: 63px;
      height: 63px;
    }
  }
}