.textFieldContainer {
  border-radius: 16px;
  border: 1px solid #E3E3E3;
  background: #F8F8F8;
  padding: 12px 16px;
}

.textField {
  height: 100%;
  background-color: transparent;
  color: #686868;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textField:-webkit-autofill,
.textField:-webkit-autofill:hover,
.textField:-webkit-autofill:focus,
.textField:-webkit-autofill:active {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #F8F8F8 inset !important;
  -webkit-text-fill-color: #686868 !important;
}

.hint {
  color: #FF4D4F;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dangerIntent {
  border: 1px solid #FF4D4F;
}